:root{
     --bgColor: linear-gradient(180deg, #371A46 0%, #4b1f61 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    margin: 0;               
    background: var(--bgColor);
    padding: 20px;
}